header{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.header__data{
    display: flex;
    justify-content: center;
}

.header__info{
    display: flex;
    flex-direction: column;
}

.header__menu{
    display: flex;
}